extends layout

block content
    p
    h6 Заказ: SP #{order.orderId}
    h6 Первичный заказ: #{order.ediOrder}
    h6 Клиент: #{order.soldTo.name}

    <!-- Data table-->

    p

    table#pickle.display
        thead
            tr
                th Line
                th Продукт
                th Заказано
                th Подтверждено
                th Цена
        tbody
            each orderLine in order.orderDetails
                tr
                    td #{orderLine.lineID}
                    td #{orderLine.productID}
                    td #{orderLine.quantityRequested}
                    td #{orderLine.quantityShipped}
                    td #{orderLine.price}
