extends layout

block content

    h3=title

    p Заказ: #{order.orderId}
    p Первичный заказ: #{order.ediOrder}
    p Клиент: #{order.soldTo.name}

    <!-- Data table-->

    p

    table#pickle.display
        thead
            tr
                th Line
                th Продукт
                th Заказано
                th Подтверждено
                th Цена
                th Действия
        tbody
            each orderLine in order.orderDetails
                tr
                    td #{orderLine.lineID}
                    td #{orderLine.productID}
                    td #{orderLine.quantityRequested}
                    td #{orderLine.quantityShipped}
                    td #{orderLine.price}
                    td
                        div.dropdown
                            a(href='#' data-toggle='dropdown').dropdown-toggle Действия
                            div.dropdown-menu
                                a(href='../archive/detail/' + order.ediOrder).dropdown-item Первичный заказ
                                a(href='#').dropdown-item Удалить
